{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block post_content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <h3 class="border-bottom mb-4">Reset your password</h3>
            <p>Enter your email address and we'll send you a link to reset your password.</p>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Reset</button>
        </div>
    </form>
</div>
{% endblock post_content %}
