{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block post_content %}
<div class="content-section">
    <form action="" method="post">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Đăng ký</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" type="submit">Đăng ký</button>
        </div>
    </form>
    <div class="border-top pt-3">
        <small class="text-muted">Đã có tài khoản? <a href="{% url 'login' %}" class="ml-2">Đăng nhập</a></small>
    </div>
</div>
{% endblock post_content %}
