{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% block post_content %}
<head>
    <link rel="stylesheet" type="text/css" href="{% static 'article/home.css' %}">
</head>
    <h3 class="mb-3">All posts of <i>{{ view.kwargs.username }}</i></h3>
    <hr>
    
    {% if posts|length == 0 %}
        <p>No post found!</p>
    {% endif %}
    {% for post in posts %}
    <article>
        <header>
            <h2>
                <a href="{% url 'post-detail' post.id %}" class="post-title">
                    {{ post.title }}
                </a>
            </h2>
            <div class="entry-meta">
                <span>
                    <i class="fa-solid fa-calendar-days"></i>
                    {{ post.date_posted | date:"F d, Y" }}
                </span>
                <span>
                    <i class="fa-solid fa-folder-open"></i>
                    <a href="{% url 'topic-posts' post.topic.id %}" class="topic-link">
                        {{ post.topic.name }}
                    </a>
                </span>
                <span>
                    <img class="rounded-circle account-img" src="{{ post.author.profile.avatar.url }}" alt="account-image">
                    <a href="{% url 'user-posts' post.author.username %}" class="ms-auto">{{ post.author }}</a>
                </span>
                <br>
                <span class="vote-span">
                    <span id="upvote" class="{% if user_voted|get_value:post.id == 'upvote' %}upvote{% endif %}">
                        <a href="#" data-post-id="{{ post.id }}" id="upvote-href">
                            <i class="fa fas fa-arrow-up" aria-hidden="true"></i>
                        </a>
                    </span>
                    <span id="vote-count">
                        {{ post.vote_count }}
                    </span>
                    <span id="downvote" class="{% if user_voted|get_value:post.id == 'downvote' %}downvote{% endif %}">
                        <a href="#" data-post-id="{{ post.id }}" id="downvote-href">
                            <i class="fa fas fa-arrow-down" aria-hidden="true"></i>
                        </a>
                    </span>
                    {% csrf_token %}
                </span>
            </div>
        </header>
        <div class="entry-content">
            <img class="col-sm-4" src="{{ post.image.url }}" alt="image">
            <div class="post-content">
                <div class="truncate-content">
                    {% if post.content|length > 550 %}
                        {{ post.content|striptags|safe|slice:":550" }}...
                    {% else %}
                        {{ post.content|striptags|safe }}
                    {% endif %}
                </div>
                <p>
                    <button type="button" class="btn btn-light">
                        <a href="{% url 'post-detail' post.id %}">
                            Read more
                        </a>
                    </button>
                </p>
            </div>
        </div>
    </article>
        <hr class="section-divider">
    </article>
    <!-- <script src="{% static 'article/script.js' %}"></script> -->
    {% endfor%}
    {% if is_paginated and posts|length >= 5 %}

        {% if page_obj.has_previous %}
            <a class="btn btn-outline-info mb-4" href="?page=1">First</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.previous_page_number }}">Prev</a>
        {% endif%}

        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
            <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a class="btn btn-outline-info mb-4" href="?page={{ num }}">{{ num }}</a>  
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
            <a class="btn btn-outline-info mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
        {% endif%}

    {% endif%}
{% endblock post_content %}

{% block topic_content %}
    {% include 'topic/topic_sidebar.html' %}
{% endblock topic_content %}